@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
   font-family: 'Poppins', sans-serif;
   padding-top: 100px;
   margin: 0 auto;
   background-color: rgba(89, 89, 89, 0.686);
}

div {
   width: 50%;
   height: 66vh;
   margin: 0 auto;
   padding-top: 20px;
   padding-left: 20px;
   background-color: rgba(245, 245, 245, 0.355);
   border-radius: 20px;
   text-align: left;
   color: black;
   font-weight: bolder;
   font-size: 20px;
}
button {
   display: grid;
   position: block;
   width: 300px;
   padding: 15px;
   cursor: pointer;
   font-size: 15px;
   font-weight: bold;
   border-style: none;
   border-radius: 10px;
   margin: 0 auto;
   margin-top: 55px;
}

button a {
   text-decoration: none;
   color: black;
   font-size: 20px;
}

button a:hover {
   color: green;
}
